* {
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
}

header, footer {

    background-color: #FFDA92;
    color: black;
    padding: 10px;
    text-align: center;
}

section {

    margin-bottom: 20px;
}

section h2 {

    margin-top: 0;
} 

#page1{
    display: grid;
    grid-template-columns: 70vw 30vw;
    grid-template-rows: 50vh 50vh;
    grid-column-gap: 15px;
}

#page1-pres{
    grid-area: 1 / 1 / 2 / 2;
    padding: 5vh;
}

#page1-creer{
    grid-area: 1 / 2 / 2 / 3;
    padding: 5vh;
}

#page1-chambre{
    grid-area: 2 / 1 / 3 / 3;
    padding: 5vh;
    display: inline;
}

.page1-chambre-image{
    height: 175px;
    width: 275px;
    background-color: #FFDA92;
}

.page1-chambres{

    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 4vw;
}

.page1-creer-back{
    height: 30vh;
    background-color: #FFDA92;
}

#page1-creer-plus{
    display: flex;
    justify-content: center;
    align-items: center;
}

#page1-creer-plus-texte{

    font-size: 300px;
}


#page1-pres-texte{
    padding: 3%;
}

.titre-border{

    border-bottom: black solid;
}

#page2{
    display: grid;
    grid-template-columns: 70vw 30vw;
    grid-template-rows: 15vh 75vh;
    grid-column-gap: 15px;
}

#page2-dess{
    grid-area: 1 / 1 / 3 / 2;
    padding: 5vh;
}

#page2-nav{
    grid-area: 1 / 2 / 2 / 3;
    padding: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page2-info{
    grid-area: 2 / 2 / 3 / 3;
    padding: 5vh;

}

table {
    border-collapse: collapse;
    width: 100%;
  }

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}

button {
    height: 10vh;
    width: 6vw;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 3vw;
}

#retour {
    background-color: #FFDA92;
    color: black;
}

#suivant {
    background-color: #FFDA92;
    color: black;
}

button:hover {
    opacity: 0.8;
}

#page2-dess-zone{
    
    padding: 5%;
    border: black solid;
    height: 70%;
    width: 95%;
}

#page3{
    display: grid;
    grid-template-columns: 70vw 30vw;
    grid-template-rows: 15vh 75vh;
    grid-column-gap: 15px;
}

#page3-dess{
    grid-area: 1 / 1 / 3 / 2;
    padding: 5vh;
}

#page3-nav{
    grid-area: 1 / 2 / 2 / 3;
    padding: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page3-info{
    grid-area: 2 / 2 / 3 / 3;
    padding: 5vh;

}

#page3-dess-zone{
    
    padding: 5%;
    border: black solid;
    height: 70%;
    width: 95%;
    background-image: url(../images/dessin.png);
    background-repeat: no-repeat;
    background-size:contain;
}

.page3-info-form{

    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    display: inline-flex;
    border: black solid;
    background-color: #FFDA92;
    width: 2vw;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.page3-info-form-button{

    margin-top: 2vh;
    width: 7vw;
}

#page4{
    display: grid;
    grid-template-columns: 70vw 30vw;
    grid-template-rows: 15vh 75vh;
    grid-column-gap: 15px;
}

#page4-det{
    grid-area: 1 / 1 / 3 / 2;
    padding: 5vh;
}

#page4-nav{
    grid-area: 1 / 2 / 2 / 3;
    padding: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page4-info{
    grid-area: 2 / 2 / 3 / 3;
    padding: 5vh;

}

.page4-det-col{

    width: 80%;
    padding : 2% 5%;
    display: inline-flex;
    justify-content: space-between;
    
}

#page5{
    display: grid;
    grid-template-columns: 70vw 30vw;
    grid-template-rows: 30vh 30vh 30vh;
    grid-column-gap: 15px;
    
}

#page5-dess{
    grid-area: 1 / 1 / 4 / 2;
    padding: 5vh;
}

#page5-creer{
    grid-area: 1 / 2 / 2 / 3;
    margin: 5vh 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page5-partage{
    grid-area: 2 / 2 / 3 / 3;
    margin: 5vh 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#page5-menu{
    grid-area: 3 / 2 / 4 / 3;
    margin: 5vh 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.page5-creer-back{
    height: 20vh;
    width: 20vh;
    
    background-color: #FFDA92;
}

#page5-dess-zone{
    
    padding: 5%;
    border: black solid;
    height: 70%;
    width: 95%;
    background-image: url(../images/dessin.png);
    background-repeat: no-repeat;
    background-size:contain;
}

#page5-creer-texte, #page5-partage-texte, #page5-menu-texte{
    font-size: 150px;
}

